{% include "header.html" %}
    <div class="container">
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

	<div class="row">
	  <div class="col-md-6">
			<div class="input-group">
		<span class="input-group-addon">@Number</span>
		<input type="text" class="form-control" placeholder="Username">
		</div>
	  </div>
	  <div class="col-md-6">
	  		<div class="input-group">
		<span class="input-group-addon">@Name</span>
		<input type="text" class="form-control" placeholder="Username">
		</div>
	  </div>

	</div>

	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="dist/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="dist/js/bootstrap.min.js"></script>
  </body>
</html>